<?xml version="1.0" encoding="UTF-8"?>
<blueprint 
  xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
  xmlns:ext="http://aries.apache.org/blueprint/xmlns/blueprint-ext/v1.0.0"
  default-timeout="10000">

  <ext:property-placeholder placeholder-prefix="$(" placeholder-suffix=")"/>

  <ext:property-placeholder placeholder-prefix="${" placeholder-suffix="}" ignore-missing-locations="true">
    <ext:default-properties>
      <ext:property name="timing.session.buffer.size" value="100"/>
    </ext:default-properties>
    <ext:location>file:$(karaf.base)/etc/astore.timing.cfg</ext:location>
  </ext:property-placeholder>

	<bean id="timingCollectorBean" 
    class="nl.overheid.stelsel.digimelding.astore.timing.map.TimingCollectorMemory">
    <property name="bufferSize" value="${timing.session.buffer.size}" />
  </bean>

	<service ref="timingCollectorBean" 
    interface="nl.overheid.stelsel.digimelding.astore.timing.TimingService" />

</blueprint>